<section id="innerBanner"> 
    <div class="inner-content">
      <h2><span>Neurofibromatosis</span><br>Tumors in Nervous System</h2>
      <div> 
      </div>
    </div> 
  </section>

  <main id="main">
   

    <!--==========================
      Our Portfolio Section
    ============================-->
	
  
      <div class="container">
        <div class="section-header">
			<div class="mb-5 ">
			<div class="mt-5 ">
	
         
          <p class="text-justify">Neurofibromatosis is a genetic disorder that causes tumors to form on nerve tissue. These tumors can develop anywhere in your nervous system, including your brain, spinal cord and nerves. Neurofibromatosis is usually diagnosed in childhood or early adulthood.

The tumors are usually noncancerous (benign), but sometimes can become cancerous (malignant). Symptoms are often mild. However, complications of neurofibromatosis can include hearing loss, learning impairment, heart and blood vessel (cardiovascular) problems, loss of vision, and severe pain.</p>
			</div>
			</div>
	   </div>
      </div>
	  
  
	<!-- #portfolio -->
	
		<div class="container">
      <div class="row no-gutters">

          <div class="col-lg-4 col-md-4">
			<h2> Signs and Syomptoms</h2>
			
					<p class="text-justify" >Common syomptoms are</p>
				<ul>
					<li><i class="icon ion-ios-checkmark-outline"></i>Flat, light brown spots on the skin</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Freckling in the armpits or groin area</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Tiny bumps on the iris of the eye </li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Soft, pea-sized bumps on or under the skin</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Bone deformities</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Tumor on the optic nerve</li>
				    <li><i class="icon ion-ios-checkmark-outline"></i>Larger than average head size</li>
						</ul>
			 
				</div>
		</div>
	</div>
	
	
		 <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
		<div class="container">
		  <div class="row">
			<div class="col-lg-9 text-center text-lg-left">
			  <h3 class="cta-title">Be a Part of This Reasearch work</h3>
			  <p class="cta-text">Please feel free to contact with us .</p>
			</div>
			<div class="col-lg-3 cta-btn-container text-center">
			  <a class="cta-btn align-middle" [routerLink]="'/user/contact'">Contact Us</a>
			</div>
		  </div>
  
		</div>
	  </section><!-- #call-to-action -->
			
			
   
  </main>
