<section id="innerBanner"> 
    <div class="inner-content">
      <h2><span>Contact</span><br>We create the opportunities!</h2>
      <div> 
      </div>
    </div> 
  </section><!-- #Page Banner -->

  <main id="main">
 

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header"> 
          <p>We are Students of Computer Science Department and Working on this research base project with some coding implementation</p>
        </div>

        <div class="row contact-info">
         <div class="col-lg-5"> 
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>COMSATS Road off GT road،, Comsats University Rd, Sahiwal, Sahiwal District, Punjab 57000</address>
            </div> 
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="#">+92-040-4305001-4305002</a></p>
            </div> 
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="Info@cuisahiwal.edu.pk">Info@cuisahiwal.edu.pk</a></p>
            </div> 
		 </div>
		 <div class="col-lg-7">
		    
                <form id="contact-form" >

                    <div class="messages"></div>

                    <div class="controls">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="contact-address">
                                    <i class="ion-ios-location-outline"></i>
                                    <h3>M.Shahzeb</h3>
                                    <address>mshahzeb793@gmail.com</address>
                                    <address>+92-347-7713828</address>
                                  </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="contact-address">
                                    <i class="ion-ios-location-outline"></i>
                                    <h3>Arham Shafiq</h3>
                                    <address>ranaarham4@gmail.com</address>
                                    <address>+92-303-6002231</address>
                                  </div>
                            </div>
                        </div>
                       
                        

                        

                        

                        

                    </div>

                </form>  
      </div>
		 </div>
         

        
      

      <div class="container mb-4 map">
	  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d65303.977628932065!2d73.12766454130924!3d30.65881841373252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3922b6e4dde0c501%3A0xc37ea3d85326203!2sCOMSATS+Institute+of+Information+Technology+Sahiwal!5e0!3m2!1sen!2s!4v1513143032397" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe> 
      </div>
</div>
    </section><!-- #contact -->

  </main>
