<section id="innerBanner"> 
    <div class="inner-content">
      <h2><span>Tay Sach's Disease</span><br>Destruction of Nerve Cells</h2>
      <div> 
      </div>
    </div> 
  </section>

  <main id="main">
   

    <!--==========================
      Our Portfolio Section
    ============================-->
	
  
      <div class="container">
        <div class="section-header">
			<div class="mb-5 ">
			<div class="mt-5 ">
	
         
          <p class="text-justify">Tay-Sachs disease is a rare, fatal disorder most commonly diagnosed in babies around 6 months of age.

There’s no cure for the disease, but scientists have a good idea of what causes it, how it worsens, and how to use genetic testing to screen for it early in pregnancy.

Researchers are working to make advances in gene therapy or bone marrow transplants that they hope will allow treatment of Tay-Sachs in the future.

</p>
			</div>
			</div>
	   </div>
      </div>
	  
  
	<!-- #portfolio -->
	
		<div class="container">
      <div class="row no-gutters">

          <div class="col-lg-4 col-md-4">
			<h2> Signs and Syomptoms</h2>
			
					<p class="text-justify" >Common syomptoms are</p>
				<ul>
					<li><i class="icon ion-ios-checkmark-outline"></i>Movement problems</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Muscle weakness</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Cherry-red" spots in the eyes</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Vision and hearing loss</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Seizures</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Exaggerated reactions when the baby hears loud noises</li>
				    <li><i class="icon ion-ios-checkmark-outline"></i>Loss of motor skills, including turning over, crawling and sitting up</li>
						</ul>
			 
				</div>
		</div>
	</div>
	
	
		 <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
		<div class="container">
		  <div class="row">
			<div class="col-lg-9 text-center text-lg-left">
			  <h3 class="cta-title">Be a Part of This Reasearch work</h3>
			  <p class="cta-text">Please feel free to contact with us .</p>
			</div>
			<div class="col-lg-3 cta-btn-container text-center">
			  <a class="cta-btn align-middle" [routerLink]="'/user/contact'">Contact Us</a>
			</div>
		  </div>
  
		</div>
	  </section><!-- #call-to-action -->
			
			
   
  </main>
