<section id="innerBanner"> 
    <div class="inner-content">
      <h2><span>Sickle Cell Anemia</span><br>Deficiency of Healthy Red Blood Cells</h2>
      <div> 
      </div>
    </div> 
  </section>

  <main id="main">
   

    <!--==========================
      Our Portfolio Section
    ============================-->
	
  
      <div class="container">
        <div class="section-header">
			<div class="mb-5 ">
			<div class="mt-5 ">
	
         
          <p class="text-justify">Sickle cell anemia is an inherited form of anemia — a condition in which there aren't enough healthy red blood cells to carry adequate oxygen throughout your body.

Normally, your red blood cells are flexible and round, moving easily through your blood vessels. In sickle cell anemia, the red blood cells become rigid and sticky and are shaped like sickles or crescent moons. These irregularly shaped cells can get stuck in small blood vessels, which can slow or block blood flow and oxygen to parts of the body.

There's no cure for most people with sickle cell anemia. But treatments can relieve pain and help prevent problems associated with the disease.</p>
			</div>
			</div>
	   </div>
      </div>
	  
  
	<!-- #portfolio -->
	
		<div class="container">
      <div class="row no-gutters">

          <div class="col-lg-4 col-md-4">
			<h2> Signs and Syomptoms</h2>
			
					<p class="text-justify" >Common syomptoms are</p>
				<ul>
					<li><i class="icon ion-ios-checkmark-outline"></i>Anemia</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Episodes of pain</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Painful swelling of hands and feet</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Frequent infections</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Delayed growth</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Vision problems</li>
						</ul>
			 
				</div>
		</div>
	</div>
	
	
	 <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
		<div class="container">
		  <div class="row">
			<div class="col-lg-9 text-center text-lg-left">
			  <h3 class="cta-title">Be a Part of This Reasearch work</h3>
			  <p class="cta-text">Please feel free to contact with us .</p>
			</div>
			<div class="col-lg-3 cta-btn-container text-center">
			  <a class="cta-btn align-middle" [routerLink]="'/user/contact'">Contact Us</a>
			</div>
		  </div>
  
		</div>
	  </section><!-- #call-to-action -->
			
			
   
  </main>
