<section id="innerBanner"> 
    <div class="inner-content">
      <h2><span>About Us</span><br>We create the opportunities!</h2>
      <div> 
      </div>
    </div> 
  </section><!-- #Page Banner -->

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container"> 
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="/assets/images/about.jpg" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>We Care About your Future</h2>
			<p class="text-justify">We illuminate useful perspectives, and thoughtfully bring you insights. We would like to help those affected with rare diseases by bringing together all the communities in need and rather than expensive one-size-fits-all healthcare, we hope for a brighter future with this app.</p>
             
          </div>
        </div>

      </div>
    </section><!-- #about -->
 
  
 
    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Be a Part of This Reasearch work</h3>
            <p class="cta-text">Please feel free to contact with us .</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" [routerLink]="'/user/contact'">Contact Us</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Our Team</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="/assets/images/hod.jpg" alt=""></div>
              <div class="details">
                <h4>Dr. Javed Ferzund </h4>
                <span>Head Of Department</span>
                <span>supervisor</span>
                <div class="social">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="/assets/images/mam.jpg" alt=""></div>
              <div class="details">
                <h4>Ms Azka </h4>
                <span>Co-supervisor</span>
                <div class="social">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="/assets/images/shah.PNG" alt=""></div>
              <div class="details">
                <h4>M.Shahzeb</h4>
                <span>Sp16-Bcs-043</span>
                <div class="social">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="/assets/images/arham.jpg" alt=""></div>
              <div class="details">
                <h4>Arham Shafiq</h4>
                <span>Sp16-Bcs-043</span>
                <div class="social">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #team -->
 


   

  </main>

