<section id="innerBanner"> 
    <div class="inner-content">
      <h2><span>Haemophilia</span><br>Lacks the Blood Clotting Fatctor</h2>
      <div> 
      </div>
    </div> 
  </section>

  <main id="main">
   

    <!--==========================
      Our Portfolio Section
    ============================-->
	
  
      <div class="container">
        <div class="section-header">
			<div class="mb-5 ">
			<div class="mt-5 ">
	
         
          <p class="text-justify">Hemophilia is a rare disorder in which your blood doesn't clot normally because it lacks sufficient blood-clotting proteins (clotting factors). If you have hemophilia, you may bleed for a longer time after an injury than you would if your blood clotted normally.

Small cuts usually aren't much of a problem. If you have a severe deficiency of the clotting factor protein, the greater health concern is deep bleeding inside your body, especially in your knees, ankles and elbows. That internal bleeding can damage your organs and tissues, and may be life-threatening.

Hemophilia is a genetic disorder. Treatment includes regular replacement of the specific clotting factor that is reduced.</p>
			</div>
			</div>
	   </div>
      </div>
	  
  
	<!-- #portfolio -->
	
		<div class="container">
      <div class="row no-gutters">

          <div class="col-lg-4 col-md-4">
			<h2> Signs and Syomptoms</h2>
			
					<p class="text-justify" >Common syomptoms are</p>
				<ul>
					<li><i class="icon ion-ios-checkmark-outline"></i>Many large or deep bruises</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Unexplained and excessive bleeding from cuts or injuries, or after surgery or dental work</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Unusual bleeding after vaccinations</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Pain, swelling or tightness in your joints</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Blood in your urine or stool</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Nosebleeds without a known cause</li>
				    <li><i class="icon ion-ios-checkmark-outline"></i>In infants, unexplained irritability</li>
						</ul>
			 
				</div>
		</div>
	</div>
	
	
		 <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
		<div class="container">
		  <div class="row">
			<div class="col-lg-9 text-center text-lg-left">
			  <h3 class="cta-title">Be a Part of This Reasearch work</h3>
			  <p class="cta-text">Please feel free to contact with us .</p>
			</div>
			<div class="col-lg-3 cta-btn-container text-center">
			  <a class="cta-btn align-middle" [routerLink]="'/user/contact'">Contact Us</a>
			</div>
		  </div>
  
		</div>
	  </section><!-- #call-to-action -->
			
			
   
  </main>
