
<header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>Gene</span>Simulator</a></h1> 
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a [routerLink]="'/user/banner'">Home</a></li>
          <li class="menu-has-children"><a >Diseases</a>
            <ul>
              <li><a  [routerLink]="'/user/colorblindness'">Color Blindness </a></li>
              <li><a [routerLink]="'/user/cysticfibrosis'" >Cystic Fibrosis</a></li>
              <li><a [routerLink]="'/user/haemophilia'">Haemophilia</a></li>
              <li><a [routerLink]="'/user/hemochromatosis'">Hemochromatosis</a></li>
              <li><a [routerLink]="'/user/neurofibromatosis'">Neurofibromatosis</a></li>
              <li><a [routerLink]="'/user/phenylketonuria'">Phenylketonuria </a></li>
              <li><a [routerLink]="'/user/sicklecellanemia'">Sickle cell Anemia </a></li>
              <li><a [routerLink]="'/user/taysachdisease'">Tay Sach's Disease </a></li>
              <li><a [routerLink]="'/user/marfansyndrome'">Marfan Syndrome </a></li>
              
            </ul>
          </li>

         

          
          <li><a [routerLink]="'/user/methodsofgettingsequence'">Methods Of Getting Sequence</a></li>
          <li><a [routerLink]="'/user/testsequence'">Test your Sequence</a></li>
          <li><a [routerLink]="'/user/about'">About Us</a></li>
          <li><a [routerLink]="'/user/contact'">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
