<section id="innerBanner"> 
    <div class="inner-content">
      <h2><span>Marfan Syndrome</span><br>Affects Connective Tissue</h2>
      <div> 
      </div>
    </div> 
  </section>

  <main id="main">
   

    <!--==========================
      Our Portfolio Section
    ============================-->
	
  
      <div class="container">
        <div class="section-header">
			<div class="mb-5 ">
			<div class="mt-5 ">
	
         
          <p class="text-justify">Marfan syndrome is an inherited disorder that affects connective tissue — the fibers that support and anchor your organs and other structures in your body. Marfan syndrome most commonly affects the heart, eyes, blood vessels and skeleton.

People with Marfan syndrome are usually tall and thin with disproportionately long arms, legs, fingers and toes. The damage caused by Marfan syndrome can be mild or severe. If your aorta — the large blood vessel that carries blood from your heart to the rest of your body — is affected, the condition can become life-threatening.</p>
			</div>
			</div>
	   </div>
      </div>
	  
  
	<!-- #portfolio -->
	
		<div class="container">
      <div class="row no-gutters">

          <div class="col-lg-4 col-md-4">
			<h2> Signs and Syomptoms</h2>
			
					<p class="text-justify" >Common syomptoms are</p>
				<ul>
					<li><i class="icon ion-ios-checkmark-outline"></i>Tall and slender build</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Disproportionately long arms, legs and fingers</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>A breastbone that protrudes outward or dips inward</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>A high, arched palate and crowded teeth</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Heart murmurs</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Extreme nearsightedness</li>
				    <li><i class="icon ion-ios-checkmark-outline"></i>An abnormally curved spine</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Flat Feet</li>
						</ul>
			 
				</div>
		</div>
	</div>
	
	
	 <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
		<div class="container">
		  <div class="row">
			<div class="col-lg-9 text-center text-lg-left">
			  <h3 class="cta-title">Be a Part of This Reasearch work</h3>
			  <p class="cta-text">Please feel free to contact with us .</p>
			</div>
			<div class="col-lg-3 cta-btn-container text-center">
			  <a class="cta-btn align-middle" [routerLink]="'/user/contact'">Contact Us</a>
			</div>
		  </div>
  
		</div>
	  </section><!-- #call-to-action -->
			
			
   
  </main>
