<section id="innerBanner"> 
    <div class="inner-content">
      <h2><span>Hemochromatosis</span><br>Iron Overload</h2>
      <div> 
      </div>
    </div> 
  </section>

  <main id="main">
   

    <!--==========================
      Our Portfolio Section
    ============================-->
	
  
      <div class="container">
        <div class="section-header">
			<div class="mb-5 ">
			<div class="mt-5 ">
	
         
          <p class="text-justify">Hemochromatosis is a disorder where too much iron builds up in your body. Sometimes it’s called “iron overload.”

Normally, your intestines absorb just the right amount of iron from the foods you eat. But in hemochromatosis, your body absorbs too much, and it has no way to get rid of it. So, your body stores the excess iron in your joints and in organs like your liver, heart, and pancreas. This damages them. If it’s not treated, hemochromatosis can make your organs stop working.

There are two types of this condition -- primary and secondary.

Primary hemochromatosis is hereditary, meaning it runs in families. If you get two of the genes that cause it, one from your mother and one from your father, you’ll have a higher risk of getting the disorder.</p>
			</div>
			</div>
	   </div>
      </div>
	  
  
	<!-- #portfolio -->
	
		<div class="container">
      <div class="row no-gutters">

          <div class="col-lg-4 col-md-4">
			<h2> Signs and Syomptoms</h2>
			
					<p class="text-justify" >Common syomptoms are</p>
				<ul>
					<li><i class="icon ion-ios-checkmark-outline"></i>Pain in your joints, especially your knuckles</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Feeling tired</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Unexplained weight loss</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Skin that has a bronze or gray color</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Pain in your belly</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Loss of sex drive</li>
				    <li><i class="icon ion-ios-checkmark-outline"></i>Loss of body hair</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Heart flutter</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Foggy memory</li>
						</ul>
			 
				</div>
		</div>
	</div>
	
	
		 <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
		<div class="container">
		  <div class="row">
			<div class="col-lg-9 text-center text-lg-left">
			  <h3 class="cta-title">Be a Part of This Reasearch work</h3>
			  <p class="cta-text">Please feel free to contact with us .</p>
			</div>
			<div class="col-lg-3 cta-btn-container text-center">
			  <a class="cta-btn align-middle" [routerLink]="'/user/contact'">Contact Us</a>
			</div>
		  </div>
  
		</div>
	  </section><!-- #call-to-action -->
			
			
   
  </main>
