<section id="innerBanner"> 
    <div class="inner-content">
      <h2><span>Phenylketonuria</span><br>Amino Acid Overload</h2>
      <div> 
      </div>
    </div> 
  </section>

  <main id="main">
   

    <!--==========================
      Our Portfolio Section
    ============================-->
	
  
      <div class="container">
        <div class="section-header">
			<div class="mb-5 ">
			<div class="mt-5 ">
	
         
          <p class="text-justify">Phenylketonuria (fen-ul-key-toe-NU-ree-uh), also called PKU, is a rare inherited disorder that causes an amino acid called phenylalanine to build up in the body. PKU is caused by a defect in the gene that helps create the enzyme needed to break down phenylalanine.

Without the enzyme necessary to process phenylalanine, a dangerous buildup can develop when a person with PKU eats foods that contain protein or eats aspartame, an artificial sweetener. This can eventually lead to serious health problems.

For the rest of their lives, people with PKU — babies, children and adults — need to follow a diet that limits phenylalanine, which is found mostly in foods that contain protein.

Babies in the United States and many other countries are screened for PKU soon after birth. Recognizing PKU right away can help prevent major health problems.</p>
			</div>
			</div>
	   </div>
      </div>
	  
  
	<!-- #portfolio -->
	
		<div class="container">
      <div class="row no-gutters">

          <div class="col-lg-4 col-md-4">
			<h2> Signs and Syomptoms</h2>
			
					<p class="text-justify" >Common syomptoms are</p>
				<ul>
					<li><i class="icon ion-ios-checkmark-outline"></i>Psychiatric disorders</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Behavioral, emotional and social problems</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Delayed development</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>A musty odor in the breath, skin or urine, caused by too much phenylalanine in the body</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Neurological problems that may include seizures</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Skin rashes</li>
				    <li><i class="icon ion-ios-checkmark-outline"></i>Intellectual disability</li>
						</ul>
			 
				</div>
		</div>
	</div>
	
	
		 <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
		<div class="container">
		  <div class="row">
			<div class="col-lg-9 text-center text-lg-left">
			  <h3 class="cta-title">Be a Part of This Reasearch work</h3>
			  <p class="cta-text">Please feel free to contact with us .</p>
			</div>
			<div class="col-lg-3 cta-btn-container text-center">
			  <a class="cta-btn align-middle" [routerLink]="'/user/contact'">Contact Us</a>
			</div>
		  </div>
  
		</div>
	  </section><!-- #call-to-action -->
			
			
   
  </main>
