<section id="innerBanner"> 
    <div class="inner-content">
      <h2><span>Turner Syndrome</span><br>Missing X chromosome</h2>
      <div> 
      </div>
    </div> 
  </section>

  <main id="main">
   

    <!--==========================
      Our Portfolio Section
    ============================-->
	
  
      <div class="container">
        <div class="section-header">
			<div class="mb-5 ">
			<div class="mt-5 ">
	
         
          <p class="text-justify">Turner syndrome, a condition that affects only females, results when one of the X chromosomes (sex chromosomes) is missing or partially missing. Turner syndrome can cause a variety of medical and developmental problems, including short height, failure of the ovaries to develop and heart defects.

Turner syndrome may be diagnosed before birth (prenatally), during infancy or in early childhood. Occasionally, in females with mild signs and symptoms of Turner syndrome, the diagnosis is delayed until the teen or young adult years..</p>
			</div>
			</div>
	   </div>
      </div>
	  
  
	<!-- #portfolio -->
	
		<div class="container">
      <div class="row no-gutters">

          <div class="col-lg-4 col-md-4">
			<h2> Signs and Syomptoms</h2>
			
					<p class="text-justify" >Common syomptoms are</p>
				<ul>
					<li><i class="icon ion-ios-checkmark-outline"></i>Wide or weblike neck</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Slowed growth</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Low hairline at the back of the head</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Cardiac defects</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Receding or small lower jaw</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Short fingers and toes</li>
				    <li><i class="icon ion-ios-checkmark-outline"></i>Low-set ears</li>
						</ul>
			 
				</div>
		</div>
	</div>
	
	 <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
		<div class="container">
		  <div class="row">
			<div class="col-lg-9 text-center text-lg-left">
			  <h3 class="cta-title">Be a Part of This Reasearch work</h3>
			  <p class="cta-text">Please feel free to contact with us .</p>
			</div>
			<div class="col-lg-3 cta-btn-container text-center">
			  <a class="cta-btn align-middle" [routerLink]="'/user/contact'">Contact Us</a>
			</div>
		  </div>
  
		</div>
	  </section><!-- #call-to-action -->
			
			
   
  </main>

