<section id="innerBanner"> 
    <div class="inner-content">
      <h2><span>Cystic Fibrosis</span><br>Respiratory Failure</h2>
      
    </div> 
  </section>

  <main id="main">
   

    <!--==========================
      Our Portfolio Section
    ============================-->
	
  
      <div class="container">
        <div class="section-header">
			<div class="mb-5 ">
			<div class="mt-5 ">
	
         
          <p class="text-justify">Cystic fibrosis is a hereditary disease that affects the lungs and digestive system. The body produces thick and sticky mucus that can clog the lungs and obstruct the pancreas.Cystic fibrosis (CF) can be life-threatening, and people with the condition tend to have a shorter-than-normal life span.The defective gene responsible for CF leads to the creation of thicker, stickier mucus than is usual. This mucus is difficult to cough out of the lungs. This can make breathing difficult and lead to severe lung infections.

The mucus also interferes with pancreatic function by preventing enzymes from properly breaking down food. Digestive problems result, potentially leading to malnutrition.

This thickening of mucus can also cause male infertility by blocking the vas deferens, or the tube that carries the sperm from the testes to the urethra.

CF is serious, with potentially life-threatening consequences. The most common cause of death in people with CF is respiratory failure.</p>
			</div>
			</div>
	   </div>
      </div>
	  
  
	<!-- #portfolio -->
	
		<div class="container">
      <div class="row no-gutters">

          <div class="col-lg-4 col-md-4">
			<h2> Signs and Syomptoms</h2>
			
					<p class="text-justify" >Common syomptoms are</p>
				<ul>
					<li><i class="icon ion-ios-checkmark-outline"></i>Tasty Skin</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Persistent Coughing</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Shortness of Breath</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Wheezing</li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Weight Gain inspite of Excessive Appetite </li>
					<li><i class="icon ion-ios-checkmark-outline"></i>Bulky Stools</li>
				    <li><i class="icon ion-ios-checkmark-outline"></i>Polyps, or Small, Fleshy Growths Found in the Nose</li>
						</ul>
			 </div>
				
		</div>
	</div>
	
		 <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
		<div class="container">
		  <div class="row">
			<div class="col-lg-9 text-center text-lg-left">
			  <h3 class="cta-title">Be a Part of This Reasearch work</h3>
			  <p class="cta-text">Please feel free to contact with us .</p>
			</div>
			<div class="col-lg-3 cta-btn-container text-center">
			  <a class="cta-btn align-middle" [routerLink]="'/user/contact'">Contact Us</a>
			</div>
		  </div>
  
		</div>
	  </section><!-- #call-to-action -->
			
   
  </main>