<div> <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="/assets/video/1.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
          <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
              <h2 class="display-3">A NEW WAY TO FIND YOUR GENETIC DISORDERS</h2>
              <p class="lead mb-0">Using this application will help you to find your possible genetic disorders and this will also helpful in locating point of mutaton in your gene!</p>
            </div>
          </div>
        </div>
      </header>
      
    </div>

     <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">We have Multiple Gene Sequences </h3>
            <p class="cta-text">Find Out Your Gene Mutation</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" [routerLink]="'/user/testsequence'">Test Sequence</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->
    <br>
     <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Be a Part of This Reasearch work</h3>
            <p class="cta-text">Please Feel Free To Contact With Us .</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" [routerLink]="'/user/contact'">Contact Us</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->
