<section id="innerBanner"> 
    <div class="inner-content">
      <h2><span>Color Blindness</span><br>A deficiency in the way you see color!</h2>
      <div> 
      </div>
    </div> 
  </section>

  <main id="main">
   

    <!--==========================
      Our Portfolio Section
    ============================-->
	
  
      <div class="container">
        <div class="section-header">
			<div class="mb-5 ">
			<div class="mt-5 ">
	
         
          <p class="text-justify">Do you have difficulty telling if colors are blue and yellow, or red and green? Do other people sometimes inform you that the color you think you are seeing is wrong?If so, these are primary signs that you have a color vision deficiency.Contrary to popular belief, it is rare for a color blind person to see only in shades of gray.Most people who are considered "color blind" can see colors, but certain colors appear washed out and are easily confused with other colors, depending on the type of color vision deficiency they have.If you develop color vision problems when normally you have been able to see a full range of color, then you definitely should visit your doctor. Sudden or gradual loss of color vision can indicate any number of underlying health problems, such as cataracts.Color blindness testing can help determine the kind of color deficiency you have.</p>
			</div>
			</div>
	   </div>
      </div>
	  
  
	<!-- #portfolio -->
	
		<div class="container">
      <div class="row no-gutters">

          <div class="col-lg-4 col-md-4">
			<h2> Signs and Syomptoms</h2>
			 </div>  
          <p class="text-justify" >Color blindness is not a form of blindness at all, but a deficiency in the way you see color.If you are colorblind, you have difficulty distinguishing certain colors, such as blue and yellow or red and green.Color blindness (or, more accurately, color vision deficiency) is an inherited condition that affects males more frequently than females. According to Prevent Blindness , an estimated 8 percent of males and less than 1 percent of females have color vision problems.Red-green color deficiency is the most common form of color blindness.Much more rarely, a person may inherit a trait that reduces the ability to see blue and yellow hues. This blue-yellow color deficiency usually affects men and women equally</p>
		</div>
	</div>
	
		 <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
              <h3 class="cta-title">Be a Part of This Reasearch work</h3>
              <p class="cta-text">Please feel free to contact with us .</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" [routerLink]="'/user/contact'">Contact Us</a>
            </div>
          </div>
  
        </div>
      </section><!-- #call-to-action -->
			
			
   
  </main>
